<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zccoder.mybatis2.ch6.query.mapper.PrivilegeMapper">

    <resultMap id="baseResultMap" type="com.zccoder.mybatis2.ch6.query.model.SysPrivilege">
        <id column="id" property="id"/>
        <result column="privilege_name" property="privilegeName"/>
        <result column="privilege_url" property="privilegeUrl"/>
    </resultMap>

    <select id="selectPrivilegeByRoleId" resultMap="baseResultMap">
        select p.*
        from sys_privilege p
        inner join sys_role_privilege rp on rp.privilege_id = p.id
        where role_id = #{roleId}
    </select>

</mapper>